{% extends "base.html" %}

{% block description %}{% endblock %}

{% block content %}
<section class="p-strip p-hero--home">
  <div class="u-fixed-width">
    <h1>{% block title %}Webteam randomizer{% endblock %}</h1>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-12">
      <h2>Random webteam member</h2>
      <p>{{ user }}</p>
      <p><a href="https://en.wikipedia.org/wiki/Special:Random" class="p-button"><span>Random topic</span></a></p>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-12">
      <h2>Random team order</h2>
      <ol>
        {% for team in teams %}
          <li>{{ team }}</li>
        {% endfor %}
        </ol>
    </div>
  </div>
</section>
{% endblock content %}
