{% extends "base.html" %}

{% block content %}
  <div class="p-strip--image p-strip--light" style="background-image: url('https://assets.ubuntu.com/v1/06a0285e-image-background-paper.png');">
    <div class="row">
      <div class="col-9">
        <h1>Web &amp; design team portal</h1>
        <br/>
        <h4>Page not found</h4>
      </div>
      <div class="col-3">
        <p><img style="height: 200px" src="https://assets.ubuntu.com/v1/77d9e7e4-broken-link-2367103_960_720.png" alt="404: oops page not found" /></p>
      </div>
    </div>
  </div>
{% endblock content %}