{% extends "base.html" %}

{% block content %}

<section class="p-strip">
  <div class="row">
    <div class="col-6">
      <h1>Design Assembly</h1>
    </div>

    <div class="col-6">
      <p>A meeting dedicated to the whole design team: share topics and discoveries, ask for help and feedback, work together and show & tell.</p>

      <p>Everyone is welcome to attend.</p>
    </div>
  </div>
</section>

{% if page == 1 %}
  <section class="p-strip">
    <div class="row">
      <div class="u-fixed-width">
        <hr>
      </div>

      <div class="col-6">
        <h2 class="p-muted-heading">Next session</h2>
        <p class="is-muted u-no-margin--bottom p-heading--5">{{ future_events[0].human_date }}</p>
        <div class="row">
          <div class="col-2">
            <p class="u-no-margin--bottom">Moderator:</p>
            <p class="u-no-margin--bottom">Topic:</p>
          </div>
          <div class="col-4">
            <p class="u-no-margin--bottom"><a href="{{ future_events[0].moderator_profile_link }}">{{ future_events[0].moderator }}</a></p>
            <p class="u-no-margin--bottom"><a href="{{ future_events[0].topic_provider_links[0] }}">{{ future_events[0].topic_providers[0] }}</a></p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <h2 class="p-muted-heading">Upcoming sessions</h2>

        <div class="row">
          {% for i in range(1, 4) %}
            {% if future_events[i] %}
              <div class="col-2">
                <div>
                  <p class="is-muted u-no-margin--bottom p-heading--5">{{ future_events[i].human_date }}</p>
                </div>
                <p class="u-no-margin--bottom">Moderator:<br /><a href="{{ future_events[i].moderator_profile_link }}">{{ future_events[i].moderator }}</a></p>
                <p class="u-no-margin--bottom">Topic:<br /><a href="{{ future_events[i].topic_provider_links[0] }}">{{ future_events[i].topic_providers[0] }}</a></p>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% for event in past_events %}
  {% if loop.index >= events_per_page * page - events_per_page + 1 and loop.index <= (page * events_per_page) %}
    <section class="p-strip">
      <div class="row">
        <div class="u-fixed-width">
          <hr>
        </div>

        <div class="col-6">
          <iframe src="{{ event.video }}" width="640" height="360" allow="autoplay" style="margin: .5rem 0"></iframe>
          <p class="is-muted u-no-margin--bottom p-heading--5">{{ event.human_date }}</p>
          <div class="row">
            <div class="col-2">
              <p class="u-no-margin--bottom">Moderator:</p>
            </div>
            <div class="col-4">
              <p class="u-no-margin--bottom"><a href="{{ event.moderator_profile_link }}">{{ event.moderator }}</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <p class="u-no-margin--bottom">Topic:</p>
            </div>
            <div class="col-4">
              <p class="u-no-margin--bottom"> {% for topic_provider in event.topic_providers %} <a href="{{ event.topic_provider_links[loop.index0] }}">{{ topic_provider }}</a>{% endfor %}</p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <h2 class="p-muted-heading">Agenda</h2>
          <p>{{ event.description | safe }}</p>
        </div>
      </div>
    </section>
  {% endif %}
{% endfor %}

{% include "shared/_pagination.html" %}

{% endblock %}