{% extends "base.html" %}

{% block content %}

  <div class="p-strip--image p-strip--light" style="background-image: url('https://assets.ubuntu.com/v1/06a0285e-image-background-paper.png');">
    <div class="row">
      <h1>Web &amp; design team portal</h1>
      <p>Find useful links from the Web &amp; Design team</p>
    </div>
  </div>

  <section class="p-strip is-bordered">
    <div class="u-fixed-width">
      <h2>Documentation</h2>
      <div class="row">
        <div class="col-4 p-card--highlighted">
          <a href="https://discourse.canonical.com/tags/c/engineering/web/94/guides"> <h3 class="p-card__title">Knowledge base</h3></a>
          <p class="p-card__content">Get the team practices</p>
        </div>
        <div class="col-4 p-card--highlighted">
          <a href="https://wiki.canonical.com/WebAndDesign"> <h3 class="p-card__title">Web &amp; Design wiki</h3></a>
          <p class="p-card__content">Internal wiki of the web & design team</p>
        </div>
        <div class="col-4 p-card--highlighted">
        <a href="https://masterclasses.canonical.com"><h3 class="p-card__title">Masterclasses</h3></a>
        <p class="p-card__content">Watch all the talks from the web team</p>
      </div>

      <h2>Team information / tools</h2>
      <div class="row">
        <div class="col-4 p-card--highlighted">
          <a href="https://launchpad.net/~canonical-webmonkeys"> <h3 class="p-card__title">Launchpad Team</h3></a>
          <p class="p-card__content">The web &amp; design team on Launchpad</p>
        </div>
        <div class="col-4 p-card--highlighted">
          <a href="/team"> <h3 class="p-card__title">Team members</h3></a>
          <p class="p-card__content">Get the list of all team members</p>
        </div>
        <div class="col-4 p-card--highlighted">
          <a href="/team/random"> <h3 class="p-card__title">Random colleague</h3></a>
          <p class="p-card__content">Get a random colleague from the team</p>
        </div>
        <div class="col-4 p-card--highlighted">
          <a href="/team/mattermost"> <h3 class="p-card__title">Mattermost handles</h3></a>
          <p class="p-card__content">Get the list of all team members' Mattermost handles</p>
        </div>
      </div>
      
      <h2>Public team communications</h2>
      <div class="row">
        <div class="col-4 p-card--highlighted">
          <a href="https://discourse.ubuntu.com/c/design/30"> <h3 class="p-card__title">Design Discourse</h3></a>
          <p class="p-card__content">The Design Discourse category on discourse.ubuntu.com</p>
        </div>
  
        <div class="col-4 p-card--highlighted">
          <a href="https://design.ubuntu.com/"> <h3 class="p-card__title">The design site</h3></a>
          <p class="p-card__content">Everything about the branding</p>
        </div>
        <div class="col-4 p-card--highlighted">
          <a href="https://ubuntu.com/blog/topics/design"> <h3 class="p-card__title">Web & Design blog</h3></a>
          <p class="p-card__content">All our blog posts</p>
        </div>
      </div>
      
      <h2>Project tools</h2>
      <div class="row">
        <div class="col-4 p-card--highlighted">
          <a href="https://tools.demos.haus/"> <h3 class="p-card__title">Social banner builder</h3></a>
          <p class="p-card__content">Build easily social banners</p>
        </div>
        <div class="col-4 p-card--highlighted">
          <a href="/releases"> <h3 class="p-card__title">Release portal</h3></a>
          <p class="p-card__content">Get the site status deployements</p>
        </div>
        <div class="col-4 p-card--highlighted">
          <a href="https://demos.haus/"> <h3 class="p-card__title">Demo service</h3></a>
          <p class="p-card__content">Track demos currently running</p>
        </div>
        <div class="col-4 p-card--highlighted">
          <a href="https://canonical.github.io/upptime//"> <h3 class="p-card__title">Upptime</h3></a>
          <p class="p-card__content">Websites status</p>
        </div>
      </div>
      
      <h2>Guilds / Groups / Events</h2>
      <div class="row">
        <div class="col-4 p-card--highlighted">
          <a href="/blog-guild"> <h3 class="p-card__title">Blog Guild</h3></a>
          <p class="p-card__content">Links to blogs of people on our team</p>
        </div>
        <div class="col-4 p-card--highlighted">
          <a href="/canonicool"> <h3 class="p-card__title">Canonicool sessions</h3></a>
          <p class="p-card__content">A list of past, present and future Canonicool sessions</p>
        </div>
        <div class="col-4 p-card--highlighted">
          <a href="/design-assembly"> <h3 class="p-card__title">Design Assembly</h3></a>
          <p class="p-card__content">Details on upcoming Design Assembly meetings, as well as recordings and notes for previous meetings</p>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
