{% extends "base.html" %}

{% block content %}
<section class="p-strip--image is-bordered" style="background-image: url('https://assets.ubuntu.com/v1/293d19c5-rockybgfooter.jpg');">
  <div class="row">
    <div class="col-6">
      <h1 class="p-muted-heading">Masterclasses</h1>
      <p class="p-heading--1">Watch all the talks brought to you from the Web team</p>
      <p>
        <a href="https://docs.google.com/spreadsheets/d/1fFumFWIM3oHwLr9pcBlaANcadAU0bNJxbkfGKwC_1pg/edit#gid=0" class="p-button u-no-margin--bottom">
          Register your session
        </a>
      </p>
    </div>
  </div>
</section>

<section class="p-strip u-no-padding--bottom is-bordered">
  <div class="row">
    <div class="p-divider u-no-margin--bottom">
      <div class="col-3 p-divider__block">
        <h2 class="p-heading--3">Upcoming sessions</h2>
        <ul class="p-list--divided">
          {% for session in upcoming_sessions %}
          <li class="p-list__item">
            <div class="p-media-object--small">
              <div class="p-media-object__details">
                <h3 class="p-media-object__title">
                  {{ session.Topic }}
                </h3>
                <p class="p-media-object__content">Hosted by {{ session.Owner }}</p>
                <p class="p-media-object__content">{{ session.Notes }}</p>
                <ul class="p-media-object__meta-list">
                  {% if session.Date %}
                  <li class="p-media-object__meta-list-item--date">
                    <span class="u-off-screen">Date: </span>{{ session.Date }}
                  </li>
                  <li class="p-media-object__meta-list-item--location">
                    <span class="u-off-screen">Location: </span><a href="{{session.Event}}">Google Meet</a>
                  </li>
                  {% else %}
                  <li class="p-media-object__meta-list-item--date">
                    <span class="u-off-screen">Date: </span>To be scheduled
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-9 p-divider__block">
        <h2 class="p-heading--3">Previous sessions</h2>
        <div class="row u-equal-height">
        {% for session in previous_sessions %}
          {% if loop.index % 3 == 0 %}
            {% with session=session %}
              {% include "shared/_card--masterclass.html" %}
            {% endwith %}
            </div>
            <div class="row u-equal-height">
          {% else %}
            {% with session=session %}
              {% include "shared/_card--masterclass.html" %}
            {% endwith %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="p-strip--light is-shallow is-bordered">
  <div class="row">
    <div class="col-8">
      <h3 class="p-muted-heading u-sv2">Something missing?</h3>
      <p class="p-heading--3">If you would like to see a topic covered but you don't have the knowledge, submit an idea to the team.</p>
      <p>
        <a href="https://docs.google.com/spreadsheets/d/1fFumFWIM3oHwLr9pcBlaANcadAU0bNJxbkfGKwC_1pg/edit#gid=236955420" class="p-button u-no-margin--bottom">
          Register an idea
        </a>
      </p>
    </div>
  </div>
</section>

<script>
  let images = document.querySelectorAll('.p-card__image');
  images.forEach(function(image) {
    image.onerror = function(e) {
      image.src = 'https://assets.ubuntu.com/v1/36f1139e-Design-and-Web-Team-Blog.jpg';
    }
  });
</script>


{% include "shared/_pagination.html" %}

{% endblock %}