<div class="p-card u-no-padding col-3">
  {% if session.Link %}
  <a href="{{ session.Recording }}" aria-hidden="true" tabindex="-1">
    <img class="p-card__image" alt="{{ session.Topic }} video" src="https://lh3.google.com/u/0/d/{{ session.Link }}=k">
  </a>
  <div class="p-card__inner">
    <h3 class="p-heading--5 u-no-margin--bottom"><a href="{{ session.Recording }}">{{ session.Topic }}</a></h3>
    <p class="u-text--muted u-no-margin--bottom">Duration: {{ session.Duration }}</p>
    <p>{{ session.Description }}</p>
  </div>
  <hr class="u-no-margin--bottom">
  <div class="p-card__inner">
    by {{ session.Owner }} on {{ session.Date }}
  </div>
  {% else %}
  <div class="p-card__inner">
    <h3 class="p-heading--5 u-no-margin--bottom">{{ session.Topic }}</h3>
    <p>{{ session.Description }}</p>
    <p>Sorry we forgot to record this session.</p>
  </div>
  <hr class="u-no-margin--bottom">
  <div class="p-card__inner">
    by {{ session.Owner }} on {{ session.Date }}
  </div>
  {% endif %}
</div>
